<html>

<head>
<title>WebRTC demo</title>
<!--Bootstrap only for styling-->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
 src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--Bootstrap only for styling-->
</head>
<style>
.container {
    background: rgb(148, 144, 144);
    margin: 50px auto;
    max-width: 80%;
    text-align: center;
    padding: 2%;
}

button {
    margin: 1em;
}

input {
    margin-top: 1em;
}

.footer {
    background: rgb(148, 144, 144);
    text-align: center;
    padding: 2%;
   
    bottom: 0;
    width: 100%;
}
</style>

<body>

 <div class="container">
  <h1>A Demo for messaging in WebRTC</h1>

  <h3>
   Run two instances of this webpage along with the server to test this
   application.<br> Create an offer, and then send the message. <br>Check
   the browser console to see the output.
  </h3>

  <!--WebRTC related code-->
  <button type="button" class="btn btn-primary" onclick='start()'>Create
   Connect</button>
    <input id="username" type="text" class="form-control"
   placeholder="username">
   
    <input id="dest" type="text" class="form-control"
   placeholder="dest">
  <button type="button" class="btn btn-primary" onclick='createOffer()'>Start call</button>
  
  <button type="button" class="btn btn-primary" onclick='endCall()'>End call</button>
  <P>remoteView</P>
   <div>
    <video id="remoteView" width="320" height="320" autoplay style="display: inline;"></video>
  </div>
<P>selfView</P>
  <div>
    <video id="selfView" width="320" height="320" muted="muted" autoplay style="display: inline;"></video>
  </div>
  
 <script src="./client.js"></script>
  <!--WebRTC related code-->
  <script>
  
  
  </script>

 </div>
 <div class="footer">This application is intentionally made simple
  to avoid cluttering with non WebRTC related code.</div>

</body>

</html>